body {
	background-color: #2583B3;
}

.emailForm {
	width: 100%;
    padding: 15px;
    margin: 0 auto;
}

.text {
	color: #F5792C;
	font-family: Open Sans, Arial, sans-serif;
	font-size: 75px;
	margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center
}

.circular {
	width: 150;
	height: 226;
	border-radius: 100px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(scott.jpg) no-repeat;
	display: block;
	margin: auto;
}